<!--The content below is only a placeholder and can be replaced.-->

<!-- Le premier objective: l'utlissations des Pipes:-->
1. l'affichage de plusieurs formats de la Date actuelle: <br/>
Hello it's (default): <span>{{ myDate | date}}</span><br/>
Hello it's (Frensh-Upper): <span> {{ myDate | date:'d MMM y'| uppercase }} </span><br/>
Hello it's (short Date): <span> {{ myDate | date:'short' }} </span><br/>
<br/>
2. le formatage d'un nombre donné: <br/>
{{numero}} ==> {{ numero | number:'1.0-3'}}
<br/><br/>
3. la creation d'un pipe qui nous permet de faire trier une liste:
<div>
  <ul>
    <li *ngFor="let pdt of (produits | sort:'nom')">
      {{pdt.nom}}
    </li>
  </ul>
 </div>
 
 <br/>

 4. l'utilisation des methode de la composonte fille: <br/>
 <div>
  user : <input type="text" name="user" [(ngModel)]="user"/><br/>
  Mode de pass: <input type="text" name="motDePass" [(ngModel)]="motDePass"/><br/>

  Resultat:<br/>
  infos saisie dans le premier composant et affichées <br/>
  <app-test-input [login] = "user" [pass]="motDePass"></app-test-input><br/>
 </div>

<button (click)="appelAfficherMessage()">appeler TestInput.afficherMessage()</button>